@import 'fonts';
@import 'global';

/**========================================================================
 **                          HEADER
 *========================================================================**/
.header {
  background-color: #fff;
  z-index: 2;
  position: relative;
  &__wrapper {
    position: relative;
    max-width: 1640px;
    min-height: 80px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cfcfcf;
  }
  &__icons {
    display: flex;
    gap: 26px;
  }
}

.nav__list {
  display: flex;
  gap: 35px;
  a {
    transition: all 0.2s;
  }
  a:hover {
    color: #707070;
  }
}

.btn-close {
  display: none;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  transition: all 0.2s ease;
  &__input {
    width: 180px;
    height: 25px;
    position: absolute;
    right: -5px;
    bottom: 3px;
    z-index: 0;
    color: #555770;
    border: none;
    outline: none;
    border-bottom: 1px solid #c5c5c5;
    padding: 0 30px 0 5px;
  }
  &__icon {
    z-index: 5;
    width: 22px;
    height: 25px;
    svg {
      transition: all 0.2s;
      margin-bottom: 2px;
    }
    :hover {
      path {
        transition: all 0.2s;
        fill: #707070;
      }
    }
  }
  &__icon--active {
    svg {
      width: 12px;
      margin-left: 12px;
    }
    path {
      fill: #707070;
    }
    :hover {
      path {
        fill: #000;
      }
    }
  }
}
input.search-form__input {
  outline: none;
  opacity: 1;
  transform: translate(0, 0px);
  transition: all 0.3s;
  &--hidden {
    opacity: 0;
    transform: translate(-50px, 0px);
    pointer-events: none;
    transition: all 0.3s;
  }
}

.cart-btn {
  vertical-align: top;
  position: relative;
  z-index: 9;
  span {
    position: absolute;
    width: 13px;
    height: 13px;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #3366ff;
    top: -6px;
    right: -6px;
  }
  :hover {
    path {
      transition: all 0.2s;
      fill: #707070;
    }
  }
}

.burger-btn {
  display: none;
  width: 29px;
  height: 22px;
  position: relative;
  span {
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease 0s;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease 0s;
  }
}

/**========================================================================
 **                            MAIN
 *========================================================================**/
.main {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1640px;
    margin: 0 auto;
    padding-left: 30px;
    position: relative;
  }
  &__left {
    flex: 1 1 100%;
    padding: 87px 65px 30px 35px;
  }
  &__right {
    flex: 0 0 410px;
  }
}

/**========================================================================
 **                            LEFT-SIDE
 *========================================================================**/

.pagination {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto 60px;
  padding: 0 14px;
  li {
    display: inline;
  }
  &__item {
    position: relative;
    span {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid #3366ff;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      text-align: center;
      font-size: 10px;
      line-height: 17px;
    }
    &:hover {
      cursor: default;
    }
  }
  &__item--checked + .pagination__item--checked {
    ::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 17px;
      width: 171px;
      height: 1px;
      background-color: #3366ff;
    }
  }
  &__item--checked {
    ::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 17px;
      width: 171px;
      height: 1px;
      background-color: #3366ff;
    }
    span {
      background-color: #3366ff;
      color: #fff;
    }
  }
  &__item--active {
    ::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 17px;
      width: 177px;
      height: 1px;
      background-color: #d5d5d5;
    }
    ::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 17px;
      width: 177px;
      height: 1px;
      background-color: #3366ff;
    }
    span {
      background-color: #fff;
      border: 1px solid #3366ff;
      color: #000;
    }
  }
  &__item--unchecked {
    ::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 17px;
      width: 177px;
      height: 1px;
      background-color: #d5d5d5;
    }
    span {
      background-color: #fff;
      border: 1px solid #d5d5d5;
      color: #d5d5d5;
    }
  }
}

.payment-page {
  &__box {
    max-width: 660px;
    margin: 0 auto;
  }
  &__wrapper {
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  &__title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    padding-left: 30px;
    margin-bottom: 42px;
  }
  &__payment-method {
    padding-left: 30px;
    margin-bottom: 44px;
  }
  &__buttons {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 660px;
  }
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 82px;
  line-height: 16px;
  &__item {
    height: 20px;
  }
  label:hover {
    cursor: pointer;
  }
}

.payment-form {
  &__tile {
    max-width: 550px;
    padding: 20px 30px 26px;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-bottom: 40px;
  }
  &__title {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    color: #555770;
  }
  &__row {
    margin-bottom: 20px;
  }
  &__label {
    display: block;
    position: relative;
  }
}

.card-form {
  &__number-wrapper {
    display: flex;
    gap: 30px;
  }
  &__name-input {
    text-transform: uppercase;
    padding-left: 15px;
    // text-align: center;
  }
  &__number-input {
    max-width: 100px;
    text-align: center;
    // letter-spacing: 3px;
  }
  &__footer {
    display: flex;
    gap: 30px;
  }
  &__checkboxes {
    padding-left: 30px;
    margin-bottom: 40px;
    color: #8c8c8c;
    li + li {
      margin-top: 14px;
    }
    label:hover {
      cursor: pointer;
    }
    a {
      transition: all 0.2s;
      &:hover {
        color: #707070;
      }
    }
  }
}
.card-form__number .input-requirements {
  width: 220px;
}

/**========================================================================
 **                       RIGHT-SIDE (BASKET)
 *========================================================================**/
.basket {
  border-left: 1px solid #cfcfcf;
  &__products {
    padding: 40px;
    border-bottom: 1px solid #cfcfcf;
    max-height: 512px;
    overflow-y: auto;
  }
  &__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
.products {
  &__list {
    :last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    min-width: 330px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  &__img {
    margin-right: 12px;
  }
  &__description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text {
    max-width: 175px;
    height: 2.3em;
    overflow: hidden;
    margin-bottom: 15px;
    padding-right: 25px;
  }
  &__calc {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__counter {
    display: flex;
    align-items: center;
    gap: 17px;
  }
}

img.products__img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
button.products__delete {
  margin-left: auto;
}

// * Promocode
.promocode-field {
  padding: 40px;
  border-bottom: 1px solid #cfcfcf;
  &__form {
    display: flex;
    gap: 10px;
  }
}

// * Bill
.bill {
  padding: 40px 55px 40px 40px;
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__total {
    font-size: 18px;
    font-weight: 700;
  }
  &__discount {
    position: absolute;
    font-size: 24px;
    padding: 5px;
    top: 0;
    right: 0;
    background-color: rgb(255, 241, 84);
    opacity: 0.9;
    transform: translate(20px, -5px) rotate(10deg);
  }
}

/**========================================================================
 **                       FORM-VALIDATION
 *========================================================================**/
.input-requirements {
  position: absolute;
  left: 2px;
  font-size: 9px;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  margin: 3px auto;
  color: rgb(150, 150, 150);
}
.input-requirements.invalid {
  color: #a84035;
}
input:not([type='submit']).invalid {
  outline: 1px solid #a84035;
}
.input-requirements.valid {
  color: #41a035;
}
input:not([type='submit']).valid {
  outline: 1px solid #66be6f;
}
input:not([type='submit']) + .input-requirements {
  overflow: hidden;
  max-height: 0;
}
input:not([type='submit']):focus + .input-requirements,
input:not([type='submit']):active + .input-requirements {
  max-height: 1000px;
}
.input-requirements li {
  padding-right: 3px;
}

@import 'media';
